.signUp-page-container {
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(1, 9, 36);
    overflow-x: hidden;
    overflow-y: visible;
  }
  .signUp-page-wrapper {
    width: 90%;
    min-height: 90vh;
    display: grid;
    margin-top: 7rem;
    color: #fff;
    background-color: black;
    border: 1px solid #fff;
    box-shadow: 10px 10px 10px #00000028;
    grid-template-columns: 1fr 1.3fr;
    margin: 2rem;
  }
  form {
    padding: 01rem 6rem;
  }
  form h2 {
    font-size: 1.8rem;
    text-align: center;
    color: #ffffffef;
  }
  .signUp-page-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  form label {
    display: block;
    font-size: 0.8rem;
    margin: 0.9rem 0 0.3rem;
  }
  form input,
  select {
    width: 100%;
    padding: 0.7rem;
    font-size: 0.85rem;
    font-weight: 500;
    border-radius: 0.3rem;
    letter-spacing: 0.2px;
    background-color: rgba(246, 253, 251, 0.93);
    overflow-y: scroll;
  }
  .phone-container {
    grid-template-columns: 2fr 1fr !important;
    column-gap: 1rem;
  }
  .phone-container div:first-child {
    position: relative;
  }
  .send-otp-btn {
    position: absolute;
    right: 0rem;
    font-weight: 600;
    padding: 0.7rem 1.4rem;
    border-radius: 0.4rem;
    background-color: aquamarine;
    cursor: pointer;
  }
  /* .grid-two-col label {
    grid-column: 1/-1;
  } */
  .grid-two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }
  .sign-up-btn {
    padding: 0.7rem 1.4rem;
    border-radius: 0.4rem;
    margin: 1.5rem 0 0;
    width: 8rem;
    font-weight: 600;
    cursor: pointer;
    background-color: aquamarine;
  }
  .sign-up-btn-link {
    color: #000;
  }
  .bottom-container {
    grid-template-columns: 4fr 1fr;
    align-items: flex-end;
    font-size: 0.89rem;
  }
  .bottom-container .signIn-text {
    font-weight: 600;
    color: aquamarine;
  }
  .error-message {
    font-size: 0.8rem;
    margin: 0.3rem 0 -0.6rem;
    color: rgb(255, 74, 74);
  }
  @media screen and (max-width: 1200px) {
    :root {
      font-size: 86%;
    }
    .signUp-page-wrapper {
      min-height: 90.5vh;
    }
    form {
      padding: 01rem 3rem;
    }
    .send-otp-btn {
      font-size: 0.9rem;
      padding: 0.67rem 1.4rem;
    }
    form input,
    select {
      width: 100%;
      padding: 0.7rem;
    }
  }
  @media screen and (max-width: 1000px) {
    form {
      padding: 01rem 1.4rem;
    }
  }
  @media screen and (max-width: 500px) {
    .signUp-page-wrapper {
      width: 98%;
      min-height: 95vh;
      display: flex;
      flex-direction: column;
      margin: 2rem 01rem;
    }
    form {
      padding: 1rem 3rem;
    }
    .signUp-page-img img {
      display: none;
    }
    form label {
      font-size: 0.9rem;
      margin: 1rem 0 0.3rem;
    }
    form input,
    select {
      width: 100%;
      padding: 0.78rem;
      font-size: 0.98rem;
    }
    .phone-container {
      grid-template-columns: 1fr !important;
    }
    .send-otp-btn {
      position: unset;
      margin: 1rem 0 -1rem;
    }
  
    .grid-two-col {
      grid-template-columns: 1fr;
      gap: 0.7rem;
    }
    .sign-up-btn {
      padding: 0.7rem 1.4rem;
      font-size: 0.9rem;
    }
  
    .bottom-container {
      display: flex;
      flex-direction: column-reverse;
      font-size: 0.95rem;
    }
    .error-message {
      font-size: 0.8rem;
      margin: 0.3rem 0 -0.6rem;
      color: rgb(255, 74, 74);
    }
  }
  